.Grid {
	position: relative;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	z-index: 10;

	/* Without this property, Chrome repaints the entire Grid any time a new row or column is added.
		 Firefox only repaints the new row or column (regardless of this property).
		 Safari and IE don't support the property at all. */
	will-change: transform;
}

.Grid__innerScrollContainer {
	box-sizing: border-box;
	overflow: hidden;
}

.Grid__cell {
	position: absolute;
}

.VirtualScroll {
	position: relative;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}

.VirtualScroll__innerScrollContainer {
	box-sizing: border-box;
	overflow: hidden;
}

.VirtualScroll__row {
	position: absolute;
}
