/**
 * React Select
 * ============
 * Created by Jed Watson and Joss Mackison for KeystoneJS, http://www.keystonejs.com/
 * https://twitter.com/jedwatson https://twitter.com/jossmackison https://twitter.com/keystonejs
 * MIT License: https://github.com/keystonejs/react-select
*/

// 
// Select Variables
// ------------------------------

@select-text-color:            #333;
@select-input-border-color:    #ccc;
@select-input-border-radius:   4px;
@select-input-placeholder:     #aaa;
@select-input-border-focus:    #08c; // blue

@select-padding-vertical:      6px;
@select-padding-horizontal:    10px;

@select-arrow-color:           #999;

@select-menu-zindex:           1000;

@select-option-color:          lighten(@select-text-color, 20%);
@select-option-focused-color:  @select-text-color;
@select-option-focused-bg:     #f2f9fc; // pale blue

@select-noresults-color:       lighten(@select-text-color, 40%);

@select-clear-color:           #999;
@select-clear-hover-color:     #c0392b; // red


// wrapper

.Select {
	position: relative;
}

// 
// Imports
// ------------------------------
@import "select-control.less";
@import "select-menu.less";
