/**
 * React Select
 * ============
 * Created by Jed Watson and Joss Mackison for KeystoneJS, http://www.keystonejs.com/
 * https://twitter.com/jedwatson https://twitter.com/jossmackison https://twitter.com/keystonejs
 * MIT License: https://github.com/keystonejs/react-select
*/

// Variables
// ------------------------------

@select-text-color:                #333;
@select-input-border-color:        #ccc;
@select-input-border-radius:       4px;
@select-input-placeholder:         #aaa;
@select-input-border-focus:        #08c; // blue

@select-padding-vertical:          8px;
@select-padding-horizontal:        10px;

@select-arrow-color:               #999;
@select-arrow-width:               5px;

@select-menu-zindex:               1000;
@select-menu-max-height:           200px;

@select-option-color:              lighten(@select-text-color, 20%);
@select-option-focused-color:      @select-text-color;
@select-option-focused-bg:         #f2f9fc; // pale blue

@select-noresults-color:           lighten(@select-text-color, 40%);

@select-clear-color:               #999;
@select-clear-hover-color:         #c0392b; // red

@select-item-border-radius:        2px;
@select-item-gutter:               2px;
@select-item-padding-vertical:     3px;
@select-item-padding-horizontal:   5px;
@select-item-font-size:            1em;
@select-item-color:                #08c; // pale blue
@select-item-bg:                   #f2f9fc;
@select-item-border-color:         darken(@select-item-bg, 10%);
@select-item-hover-color:          darken(@select-item-color, 5%); // pale blue
@select-item-hover-bg:             darken(@select-item-bg, 5%);


@import "control.less";
@import "menu.less";
@import "mixins.less";
@import "multi.less";
@import "spinner.less";
