/**
 * React Select
 * ============
 * Created by Jed Watson and Joss Mackison for KeystoneJS, http://www.keystonejs.com/
 * https://twitter.com/jedwatson https://twitter.com/jossmackison https://twitter.com/keystonejs
 * MIT License: https://github.com/JedWatson/react-select
*/

// Variables
// ------------------------------

// common
@select-primary-color:              @black-artlimes;

// control options
@select-input-bg:                   #fff;
@select-input-bg-disabled:          #f9f9f9;
@select-input-border-color:         @gray-dark;
@select-input-focused-border-color: @magenta;
@select-input-border-radius:        4px;
@select-input-border-focus:         @select-primary-color;
@select-input-box-shadow-focus:     inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 5px -1px fade(@select-input-border-focus, 50%);
@select-input-border-width:         1px;
@select-input-height:               36px;
@select-input-internal-height:      (@select-input-height - (@select-input-border-width * 2));
@select-input-placeholder:          @gray-dark;
@select-input-indicator-color:      @magenta;
@select-text-color:                 #333;
@select-link-hover-color:           @select-input-border-focus;
@select-icon-hover-color:           @magenta;

@select-input-hover-box-shadow:     0 1px 0 rgba(0, 0, 0, 0.06);

@select-padding-vertical:           8px;
@select-padding-horizontal:         10px;

// menu options
@select-menu-zindex:                1;
@select-menu-max-height:            200px;
@select-menu-box-shadow:            @select-input-hover-box-shadow;

@select-option-color:               @gray-darker;
@select-option-bg:                  @select-input-bg;
@select-option-focused-color:       @white;
@select-option-focused-bg:          @black;
@select-option-selected-color:      @white;
@select-option-selected-bg:         @magenta;
@select-option-selected-bg-fb:      mix(@select-primary-color, @select-option-bg, 4%);  // Fallback color for IE 8
@select-option-disabled-color:      lighten(@select-text-color, 60%);

@select-noresults-color:            lighten(@select-text-color, 40%);

// clear "x" button
@select-clear-size:                 floor((@select-input-height / 2));
@select-clear-color:                @gray-dark;
@select-clear-hover-color:          @magenta;
@select-clear-width:                (@select-input-internal-height / 2);

// arrow indicator
@select-arrow-color:                @gray-dark;
@select-arrow-color-hover:          @magenta;
@select-arrow-width:                5px;

// loading indicator
@select-loading-size:               16px;
@select-loading-color:              @select-text-color;
@select-loading-color-bg:           @select-input-border-color;

// multi-select item
@select-item-font-size:             .9em;

@select-item-bg:                    transparent;
@select-item-color:                 @select-primary-color;
@select-item-border-color:          @black;
@select-item-border-color-fb:       transparent;  // Fallback color for IE 8
@select-item-hover-color:           darken(@select-item-color, 5%);
@select-item-hover-bg:              transparent;
@select-item-hover-bg-fb:           transparent;  // Fallback color for IE 8
@select-item-disabled-color:        #333;
@select-item-disabled-bg:           #fcfcfc;
@select-item-disabled-border-color: darken(@select-item-disabled-bg, 10%);

@select-item-border-radius:         2px;
@select-item-gutter:                5px;

@select-item-padding-horizontal:    5px;
@select-item-padding-vertical:      2px;

@select-label-color:                #4A4A4A;

// Minimal

// Colors
@black:           #000;
@black-artlimes:  #212125;
@gray-darker:     #626265;
@gray-dark:       #9b9b9b;
@gray:            #c1c1c1;
@gray-light:      #dde3ea;
@gray-lighter:    #e5e9ee;
@white-artlimes:  #f1f1f1;
@white:           #fff;
@magenta:         #ff115f;
@magenta-hover:   #ff0053;
@error-color:     #d7001a;

// Dark Theme Colors
@dark-select-primary-color:         @white;
@dark-select-option-color:          @white;
@dark-select-option-bg:             #34343A;
@dark-select-option-focused-color:  @black;
@dark-select-option-focused-bg:     @white;
@dark-select-input-border-color:    @gray-dark;
@dark-select-item-border-color:     @white;
@dark-select-arrow-color:           @gray-dark;
@dark-select-menu-bg:               @gray-dark;

// Font sizes
@font-size-base:  14px;
@font-size-medium:  16px;

//End of Minimal

// imports
@import "control.less";
@import "menu.less";
@import "mixins.less";
@import "multi.less";
@import "spinner.less";
