{
  "plugins": [
    "babel-plugin-emotion",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread"
  ],
  "presets": ["@babel/env", "@babel/react", "@babel/flow"],
  "ignore": ["node_modules"]
}
