{
  "plugins": ["transform-class-properties", "transform-object-rest-spread"],
  "presets": ["env", "react"],
  "ignore": ["node_modules"],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  }
}
