# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Coverage tools
lib-cov
coverage

# Dependency directory
node_modules
bower_components

# Publish directory
.publish

# Editor artifacts
.idea

# Other
.DS_Store

yarn.lock
