# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Coverage tools
lib-cov
coverage

# Dependency directory
node_modules
bower_components

# Publish directory
.publish

# Other
.DS_Store

# Build files
lib/
dist/

# example builds
examples/src/example.css
examples/src/bundle.js
examples/src/example.css.map