// 
// Common Example Styles
// ------------------------------

body {
	font-family: verdana;
	font-size: 14px;
	color: #333;
}

// 
// Select Control
// ------------------------------
@import "../../less/default.less";
