@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:400,500,700');

body {
  -moz-font-feature-settings: 'liga' on;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #253858;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
    Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}
p > a,
p > a:hover,
p > a:visited {
  color: #2684ff;
}
code {
  font-family: Roboto Mono, Monaco, monospace;
}
p > code {
  white-space: nowrap;
}
p,
ul,
ol {
  line-height: 1.5;
}
td p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  color: #091e42;
}
h6 {
  color: #777;
  margin-bottom: 0.25em;
  text-transform: uppercase;
}
@keyframes dropIn {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(0, -1666px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, 26px, 0);
  }
  75% {
    transform: translate3d(0, -10px, 0);
  }
  90% {
    transform: translate3d(0, 6px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
.animate-dropin {
  animation: dropIn 0.66s;
}
